* {
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */

}

/* rgb(48, 47, 53) */
body {
    background-color: rgb(255,255,255);
    color: black;
    z-index: 0;
}

h1.main-title-contain {
    font-family: 'Inter', sans-serif;
    font-size: 70px;
}

h2.main-title-contain {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.banner-section {
    background: url(../images/window1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}

.main-title-container{
    padding-top: 100px;
}

/* ======================= SEKCJA OPISOW ======================= */
div.descriptions-section {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 120px 0;
}

div.description-frame {
}

div.description-title {
    text-align: center;
}

div.description {
    position: relative;
    bottom: 50px;
    text-align: center;
    padding: 0 50px;

}

div.description-title_front {
    font-weight: 600;
    font-size: 30px;
}

div.description-title_back {
    font-weight: 600;
    font-size: 40px;
    opacity: 0.2;
    position: relative;
    bottom: 70px;
    right: 20px;
    z-index: -1;
}

/* ======================= SEKCJA KONTAKT ======================= */
#kontakt-section {
    background: #ad1d1d;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
img#kontakt-icon {
    width: 10vw;
    max-width: 120px;
}

#section-main-title {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: white;
    text-align: center;
    padding: 3vw 0;
}

#kontakt-items-container {
    display: flex;
    flex-direction: row;
    padding: 0 0 30px 0;

}

#kontakt-location-container {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    height: auto;
}

#kontakt-location-image {
    text-align: center;
}

#kontakt-phone-image {
    text-align: center;
}

#kontakt-time-image {
    text-align: center;
}

#kontakt-location-description {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 0;
    text-align: center;
    color: white;
}

#kontakt-title-description{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 0 0 0;
    text-align: center;
    color: white;
}

#kontakt-phone-container {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    height: auto;
}

#kontakt-time-container {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    height: auto;
}


/* ======================= OKNA ======================= */
#okna-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: auto;
    border: 2px solid rgb(89, 16, 224);
}

#okna-section #section-main-title {
    color: black;
}

#okna-description {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: black;
}

#rodzaje-okien {
    display:list-item;
    list-style: square;
}

h2#okna {
    color: black;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 0 0 0;
}





/* ======================= HEADER ======================= */

.header-container {
    display: flex;
    padding: 12px 10%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header {
    background-color: rgb(32, 32, 34);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;;
}

.nav_links li a:hover {
    color: #990c0c;
}

.nav_links button {
    border: 0;
    background-color: #ad1d1d;
    padding: 5px 30px;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    
    cursor: pointer;

}

a, ul, li {
    text-decoration: none;
    
}

a:link {
    color: white;
    font-style: normal;
}

a:visited {
    color: white;
    font-style: normal;
}

.logo {
    cursor: pointer;
}

/* ======================= FOOTER ======================= */
.footer-section {
    background-color: rgb(32, 32, 34);
    width: 100%;
    height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer-contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    border: 1px solid red;

}

h1#footer-title-style {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 30px;

}
h2#footer-title-style {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 10px;

}





/* ======================= RESPONSIVE ======================= */

@media screen and (max-width:900px){
    .nav_links {
        display: none;
    }

}