* {
    padding: 0;
    margin: 0;

}

body {
    background-color: rgb(48, 47, 53);
    color: white;
    z-index: 0;
}

div.main {
    display: grid;
    margin: 0 15vw;

}

h1.main {
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    text-align: center;
    margin-top: 15vh;
    /* border: 1px solid red; */

}

h2.main {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    /* border: 1px solid red; */

}

div.descriptions-section {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    /* border: 1px solid red; */
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    

}

div.description-frame {
    /* border: 1px solid red; */
    margin: 2vw;
}

div.description-title {
    text-align: center;
}

div.description {
    position: relative;
    bottom: 50px;
}

div.description-title_front {
    font-weight: 600;
    font-size: 30px;
}

div.description-title_back {
    font-weight: 600;
    font-size: 40px;
    opacity: 0.2;
    position: relative;
    bottom: 70px;
    right: 20px;
    z-index: -1;
}

img.window1 {
    /* border: 1px solid red; */
    height: 30vw;
}

div.window1-image {
    grid-column: 100%;
    /* border: 1px solid red; */
    text-align: center;
    
}

div.footer {
    background-color: aliceblue;
    color: black;
    width: 100%;
    height: 20vh;
    text-align: center;
    
}

.header-container {
    display: flex;
    padding: 12px 10%;
    align-items: center;
    justify-content: space-between;

}

header {
    background-color: rgb(32, 32, 34);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;;
}

.nav_links li a:hover {
    color: #0088a9;
}

a, ul, li {
    text-decoration: none;
}

a:link {
    color: white;
    font-style: normal;
}

a:visited {
    color: white;
    font-style: normal;

}



.logo {
    cursor: pointer;
}